.text {
    margin-left: 65px;
    margin-top: 50px;
    color: white;
}

.text h1 {
    margin-bottom: 40px;
    font-size: 60px;
    text-shadow: 1px 1px 1px #ffffff52;
}

.text h2 {
    font-size: 30px;
}

.button-content {
    margin-left: 65px;
    margin-top: 30px;
}

.button-content button {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
}

.content-header img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60%
}
